.nav {
  width: 100%;
  height: 100%;
  background-color: #313540;
  overflow: auto;

  dl {
    height: 80px;
    margin-bottom: 0;
    padding: 8px 0;
    color: rgba(255, 255, 255, .7);
    text-align: center;
    cursor: pointer;

    dt {
      height: 32px;
      font-size: 24px;
      line-height: 32px;
    }

    dd {
      height: 32px;
      margin-bottom: 0;
      line-height: 32px;
    }

    &:hover {
      color: rgba(255, 255, 255, 1);
      background-color: #3e4556;
    }

    &.active {
      color: rgba(255, 255, 255, 1);
      background-color: #2d8cf0;
    }
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
  }

  &::-webkit-scrollbar-track {
    border-radius: 0;
    background: rgba(255, 255, 255, 0.9);

  }
}
